/* -------------------------HOME PAGE-------------------------- */
.intro {
    animation-duration: 0.7s;
    animation-name: intro-anim;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: forwards;
}

@keyframes intro-anim {

    100% {
        transform: translate(0, 0px);
    }
}
.intro-main {
    animation-duration: 0.7s;
    animation-name: intro-anim-main;
    animation-delay: 0.2s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

@keyframes intro-anim-main {
    0% {
        transform: translate(0, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0, -30px);
        opacity: 1;
    }
}

/* ------------------------ABOUT ME------------------------- */
#abme-left {
    animation-duration: 0.7s;
    animation-name: abme-left;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: "ease-in";
}

#abme-right {
    animation-duration: 0.7s;
    animation-name: abme-right;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: "ease-in";
}

@keyframes abme-left {
    0% {
        transform: translate(-30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes abme-right {
    0% {
        transform: translate(30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* ------------------------PROJECT CARD------------------------- */
.card-container:hover div {
    background-color: #FB797F;
    width: 60%;
    height: 3px;
    
    transition: width 1s ease-in-out;
    /* animation: line-anim 1s ease-in-out both; */

}

.card-container div {
    height: 2px;
    border-radius: 13px;
    transition: width 1s ease-in-out;

}
/* -----------------------------HEADER----------------------------- */
.active-link, .link, .mobile-link {
    transition: 0.2s ease-in-out;
}
.active-link:hover, .link:hover, .mobile-link:hover{
    color: #FB797F !important;
}
/* ---------------------------CODING PROJECT------------------------ */

.project-left {
    animation-duration: 0.7s;
    animation-name: anim-left;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

.project-right {
    animation-duration: 0.7s;
    animation-name: anim-right;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

@keyframes anim-left {
    0% {
        transform: translate(-30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes anim-right {
    0% {
        transform: translate(30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}