/* -------------------------HOME PAGE-------------------------- */
.intro {
    animation-duration: 0.7s;
    animation-name: intro-anim;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: forwards;
}

@keyframes intro-anim {

    100% {
        transform: translate(0, 0px);
    }
}

.intro-main {
    animation-duration: 0.7s;
    animation-name: intro-anim-main;
    animation-delay: 0.2s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

@keyframes intro-anim-main {
    0% {
        transform: translate(0, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0, -30px);
        opacity: 1;
    }
}

/* ------------------------ABOUT ME------------------------- */
#abme-left {
    animation-duration: 0.7s;
    animation-name: abme-left;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: "ease-in";
}

#abme-right {
    animation-duration: 0.7s;
    animation-name: abme-right;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: "ease-in";
}

@keyframes abme-left {
    0% {
        transform: translate(-30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes abme-right {
    0% {
        transform: translate(30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* ------------------------PROJECT CARD------------------------- */
.card-container:hover div {
    background-color: #FB797F;
    width: 60%;
    height: 3px;

    transition: width 1s ease-in-out;
    /* animation: line-anim 1s ease-in-out both; */

}

.card-container div {
    height: 2px;
    border-radius: 13px;
    transition: width 1s ease-in-out;

}

/* -----------------------------HEADER----------------------------- */
.active-link,
.link,
.mobile-link {
    transition: 0.2s ease-in-out;
}

.active-link:hover,
.link:hover,
.mobile-link:hover {
    color: #FB797F !important;
}

/* ---------------------------CODING PROJECT------------------------ */

.project-left {
    animation-duration: 0.7s;
    animation-name: anim-left;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

.project-right {
    animation-duration: 0.7s;
    animation-name: anim-right;
    animation-delay: 0s;
    animation-timing-function: "ease-in";
    animation-fill-mode: both;
}

@keyframes anim-left {
    0% {
        transform: translate(-30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes anim-right {
    0% {
        transform: translate(30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* --------------------------- special animation -------------------------- */
.illustrate {
    transition: transform 0.5s ease;
    transform-origin: bottom center;
    height: auto;
    position: absolute;
    box-shadow: 0px 2.65151px 10.60603px 0px rgba(16, 16, 16, 0.08);
    transform: rotate(13deg);
    border-radius: 15px;
    z-index: -2;
}

.illustrate-image-1 {
    animation: anim1 6s ease-in-out infinite;
}


.illustrate-image-2 {
    animation: anim2 6s ease-in-out infinite;
}

.illustrate-image-3 {
    animation: anim3 6s ease-in-out infinite;
}

#illustrate-1 {
    animation: anim1-start 0.8s ease-in-out both;
}

#illustrate-2 {
    animation: anim2-start 0.8s ease-in-out both;
}

#illustrate-3 {
    animation: anim3-start 0.8s ease-in-out both;
}

@keyframes anim1 {

    0%,
    100% {
        transform: translateY(-5px) rotate(-7.93deg);
    }

    50% {
        transform: translateY(10px) rotate(-1.93deg);
    }

}


@keyframes anim2 {

    0%,
    100% {
        transform: translateY(-5px) rotate(-12.42deg);
    }

    50% {
        transform: translateY(15px) rotate(-18.42deg);
    }
}

@keyframes anim3 {

    0%,
    100% {
        transform: translateY(-10px) rotate(9deg);
    }

    50% {
        transform: translateY(10px) rotate(15deg);
    }
}

@keyframes anim1-start {

    0% {
        opacity: 0;
        top: 30%;
        left: 30%;
    }

    100% {
        opacity: 1;
        top: 5px;
        left: 45px;
        transform: translateY(-5px) rotate(-7.93deg);
    }
}

@keyframes anim2-start {

    0% {
        opacity: 0;
        bottom: 30%;
        left: 30%;
    }

    100% {
        opacity: 1;
        left: 10px;
        bottom: 100px;
        transform: translateY(-5px) rotate(-12.42deg);
    }
}

@keyframes anim3-start {

    0% {
        opacity: 0;
        bottom: 30%;
        right: 30%;
        transform: rotate(-7.93deg);
    }

    100% {
        opacity: 1;
        bottom: 70px;
        right: 40px;
        transform: translateY(-10px) rotate(9deg);
    }
}

/* --------------- */

.illustrate-container {
    animation: fadeInBottomLeft 0.4s ease both;
}

@keyframes fadeInBottomLeft {
    from {
        transform: rotate("50deg");
    }

    to {
        transform: rotate("20deg");
    }
}

.fadeInBottomLeft {
    animation: fadeInBottomLeft;
}