.paralax {

    /* The image used */
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.thesis {
    background-image: url(../asset/image/thesis.webp);
    background-position: 0% 100%;
}

.uiux {
    background-image: url(../asset/image/uiux.png);
    background-position: 100% 43%;
}

.certificate {
    background-image: url(../asset/image/cert-quote.webp);
    background-position: 20% 0%;
}

@media screen and (max-width: 600px) {
    .certificate {
        background-image: url(../asset/image/cert-edu.webp);
        background-position: 20% 0%;
    }
}

.language {
    background-image: url(../asset/image/language.webp);
    background-position: 100% 50%;
}

.aboutme {
    background-image: url(../asset/image/about-quote.webp);
    background-position: 0% 25%;
}